/** @format */

#root {
	width: 100%;
	margin: 0 auto;
	padding: 60px 20px;
	text-align: center;
	background-color: #f9f9f9;
}

.title {
	color: #29629e;
	max-width: 90%;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2em;
}
